/*
GLOBAL
*/

html, body {}

body {
	background-color: #fafafa;
}

img {
	max-width: 100%;
}

h1 {
	padding: 0 20px;
	margin: 0;
	display: inline-block;
	font-size: 4rem;
	text-transform: uppercase;
}

h4 {
	margin-bottom: 40px;
	color: #ff645d;
}

/*
HEADER
*/

header {
	position: relative;
	background-color: white;
	z-index: 2;
}

header .container {
	padding: 100px 0;
	text-align: center;
}

/*
MAIN SECTION
*/

section {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative;
	background-color: white;
	z-index: 1;
}

section .container {
	position: relative;
	background-color: white;
}

section .container .row {
	margin-bottom: 100px;
}

section .email-body {
	padding: 20px;
	margin-bottom: 40px;
	border: 10px solid #fafafa;
	font-size: 90%;
	font-family: 'Arial', sans-serif;
}

section .email-content {
	color: lightgray;
}

section img {
	width: 50%;
	height: auto;
}

section .email-signature p {
	margin: 0;
}

section a {
	text-decoration: none;
	color: #ff645d;
}

section a:hover {
	text-decoration: underline;
	color: #ff645d;
}

section .separator {
	color: lightgray;
	margin: 0 3px;
}

section p.your-name {
	font-weight: bold;
	text-transform: uppercase;
}

section p.your-email-and-phone {
	margin-bottom: 2rem;
}

section p.office-address {
	margin-bottom: 2rem;
}

section ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

section ul li {
	margin: 0;
}

section ul li::after {
	content: '|';
	margin: 0 4px;
	color: lightgray;
}

section ul li:last-child::after {
	content: none;
	margin: 0;
}

section ul li a {
	font-size: 90%;
}

section button {
	margin: 0;
}

section .copy-tooltip {
	margin: 0 0 0 10px;
	display: inline-block;
	color: white;
	background-color: #6df033;
	border-color: #6df033;
}

/*
FOOTER
*/

footer {
	background-color: #fafafa;
}

footer .container {
	padding: 60px 0;
	text-align: center;
}

footer .container p {
	color: gray;
	margin: 0;
}

/*
CLIPBOARD INIT
*/

.clipboard-init {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#clipboard-content th, #clipboard-content td {
	border: 0;
	padding: 0;
}

/*
ANGULAR
*/

.animate-if {
	background: white;
}

.animate-if.ng-enter, .animate-if.ng-leave {
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
	opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
	opacity: 1;
}

/*
RESPONSIVE
*/

@media (max-width: 920px) {
	.one-half.column {
		width: 100%;
		margin-left: 0px;
	}
}